<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddUserServlet</servlet-name>
  	<display-name>AddUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminLoginServlet</servlet-name>
  	<display-name>adminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.adminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<display-name>ChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DelUserServlet</servlet-name>
  	<display-name>DelUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.DelUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExitServlet</servlet-name>
  	<display-name>ExitServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertServlet</servlet-name>
  	<display-name>InsertServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TagServlet</servlet-name>
  	<display-name>TagServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.TagServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OneMsgServlet</servlet-name>
  	<display-name>OneMsgServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.OneMsgServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectServlet</servlet-name>
  	<display-name>SelectServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectUserServlet</servlet-name>
  	<display-name>SelectUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.SelectUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<display-name>UserLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFriendServlet</servlet-name>
  	<display-name>AddFriendServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectFriendServlet</servlet-name>
  	<display-name>SelectFriendServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.SelectFriendServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DelFriendServlet</servlet-name>
  	<display-name>DelFriendServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.DelFriendServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReMessageServlet</servlet-name>
  	<display-name>ReMessageServlet</display-name>
  	<description></description>
  	<servlet-class>com.xxx.messageBo.servlet.ReMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddUserServlet</servlet-name>
  	<url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminLoginServlet</servlet-name>
  	<url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DelUserServlet</servlet-name>
  	<url-pattern>/DelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertServlet</servlet-name>
  	<url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TagServlet</servlet-name>
  	<url-pattern>/TagServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OneMsgServlet</servlet-name>
  	<url-pattern>/OneMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectServlet</servlet-name>
  	<url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectUserServlet</servlet-name>
  	<url-pattern>/SelectUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFriendServlet</servlet-name>
  	<url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectFriendServlet</servlet-name>
  	<url-pattern>/SelectFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DelFriendServlet</servlet-name>
  	<url-pattern>/DelFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReMessageServlet</servlet-name>
  	<url-pattern>/ReMessageServlet</url-pattern>
  </servlet-mapping>
</web-app>
